
<div class="container">
    <div class="form-horizontal">
        <div>
            <h4>Accessory Item Edit</h4>
            <p class="text-muted">Please complete the fields below.</p>
        </div>
        <table>
            <tr>
                <td>
                    <label class="control-label" for="accessory.manufacturer">Manufacturer :</label>
                </td>
                <td>
                    <input class="input" id="accessory.manufacturer" type="text" ng-model="selectedAccessoryItem.accessoryManufacturer" ng-model-instant>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" for="accessory.model">Model :</label>
                </td>
                <td>
                    <input class="input" id="accessory.model" type="text" ng-model="selectedAccessoryItem.accessoryModel" ng-model-instant>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" for="accessory.pricing">Pricing (EUR):</label>
                </td>
                <td>
                    <input class="input" id="accessory.pricing" type="text" ng-model="selectedAccessoryItem.pricing" ng-model-instant>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" for="accessory.description">Accessory Description:</label>
                </td>
                <td>
                    <input class="input" id="accessory.description" type="text" ng-model="selectedAccessoryItem.accessoryDescription" ng-model-instant>
                </td>
            </tr>

        </table>
        <br>
        <div ng-show="showSerialSection==1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Status</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stockLevel in selectedAccessoryItem.accessoryLevel">
                    <td>
                        {{ stockLevel.serialNumber }}
                    </td>
                    <td>
                        {{ stockLevel.status }}
                    </td>
                    <td>
                        <button class="btn" ng-click="removeSerialNumber(stockLevel.serialNumber, stockLevel.status)">X</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show="showAddSerial==1">
                <table>
                    <tr>
                        <td>
                            <label class="control-label" for="serialNumber">Serial Number:</label>
                        </td>
                        <td>
                            <input class="input" id="serialNumber" type="text" ng-model="serialNumber" ng-model-instant>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="addSerialNumber(serialNumber)">+</button>
                        </td>
                    </tr>
                </table>
                <br>
            </div>
        </div>
        <button ng-show="showSerialSection==1" type="button" class="btn btn-default" ng-click="showAddSerialNumber()">Add Serial</button>
        <button type="button" class="btn btn-default" ng-click="saveAccessoryItem()">Save</button>
        <button ng-show="showDelete==1" type="button" class="btn btn-info" ng-click="delete()">Delete</button>
        <button type="button" class="btn btn-danger" ng-click="cancel()">Done</button>
    </div>
</div>
