
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div>
                <h1>Welcome to Synergi Office Tools</h1>
                <img src="ico/apple-touch-icon-152x152.png" class="img-thumbnail pull-left"/>
                <p class="col-lg-offset-2">Powering hybrid mail</p>
            </div>
        </div>
        <div class="row">
            <img src="img/InterfileCollaboration.png" class="img-thumbnail pull-right" height="90" width="180"/>
            <img src="img/SA-Post-Office-logo.gif" class="img-thumbnail pull-right" height="100" width="200"/>
            <p class="pull-right"></p>
            <div class="pull-right">Powered by    </div>
        </div>
    </div>
</div>
