<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Lift and Shift Stock System</a>
        </div>
    </div>
</div>
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" autofocus ng-model="loginUserName" ng-model-instant>
        <input type="password" class="form-control" placeholder="Password" ng-model="loginPassword" ng-model-instant>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
    </form>
</div>
