
<div class="container">
    <div class="form-horizontal">
        <div>
            <h4>Accessories</h4>
            <p class="text-muted">Add accessories to the quote.</p>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        Select the accessory item manufacturer :
                    </td>
                    <td>
                        <select ng-model="selectedManufacturer" ng-options="accessory.manufacturer for accessory in accessoryManufacturers" ng-change="getAccessoryItemsForManufacturer()"></select>
                    </td>
                </tr>
            </table>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Model</th>
                    <th>Accessory Code</th>
                    <th>Price (EUR)</th>
                    <th>Select</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="accessory in accessoryItems">
                    <td>
                        {{ accessory.accessoryModel }}
                    </td>
                    <td>
                        {{ accessory.accessoryCode }}
                    </td>
                    <td>
                        {{ accessory.pricing }}
                    </td>
                    <td>
                        <button class="btn" ng-click="getAvailableAccessoryForAccessoryId(accessory.accessoryId)">{{accessory.accessoryId}}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="showSerial">
            <h4>Available Units</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Status</th>
                    <th>Select</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="accessory in availableAccessories">
                    <td>
                        {{ accessory.serial }}
                    </td>
                    <td>
                        {{ accessory.status }}
                    </td>
                    <td>
                        <button class="btn" ng-click="selectAccessorySerialForQuote(accessory)">+</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h4>Selected Accessories</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Code</th>
                    <th>Price (EUR)</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="acc in accessories">
                    <td>
                        {{ acc.serial }}
                    </td>
                    <td>
                        {{ acc.code }}
                    </td>
                    <td>
                        {{ acc.price }}
                    </td>
                    <td>
                        <button class="btn" ng-click="removeAccessory(acc)">+</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" class="btn btn-default" ng-click="next()">Next</button>
        </div>
    </div>
</div>
