
<div class="container">
    <div class="form-horizontal">
        <div>
            <h4>Quote History</h4>
            <p class="text-muted">Click on the 'View' button to view the quotation.</p>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Customer Name</th>
                <th>Quotation Date</th>
                <th>ID</th>
                <th>Status</th>
                <th>View</th>
                <th>Accept</th>
                <th>Decline</th>
                <th>Complete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="quote in miniQuotes">
                <td>
                    {{ quote.customerName }}
                </td>
                <td>
                    {{ quote.quotationDate }}
                </td>
                <td>
                    {{ quote.quotationId }}
                </td>
                <td>
                    {{ quote.status }}
                </td>
                <td>
                    <button class="btn" ng-click="viewQuotation(quote.quotationId)">View</button>
                </td>
                <td>
                    <button ng-show="quote.status=='Created'" class="btn" ng-click="acceptQuote(quote.quotationId)"><i class="glyphicon glyphicon-ok-circle"></i></button>
                </td>
                <td>
                    <button ng-show="quote.status=='Created'" class="btn" ng-click="declineQuote(quote.quotationId)"><i class="glyphicon glyphicon-remove-circle"></i></button>
                </td>
                <td>
                    <button ng-show="quote.status=='Accepted'" class="btn" ng-click="completeQuote(quote.quotationId)"><i class="glyphicon glyphicon glyphicon-download"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
