
<div class="container">
    <div class="form-horizontal">
        <div>
            <h4>Stock List</h4>
            <p class="text-muted">Select a stock category to view all stock items in that category. Click on the stock id button to select the stock item to quote on.</p>
        </div>
        <table>
            <tr>
                <td>
                    Select the stock item manufacturer :
                </td>
                <td>
                    <select ng-model="selectedManufacturer" ng-options="stock.manufacturer for stock in stockManufacturers" ng-change="getModelsForManufacturer()"></select>
                </td>
            </tr>
            <tr>
                <td>
                    Select the model for the above manufacturer :
                </td>
                <td>
                    <select ng-model="selectedModel" ng-options="stock.model for stock in stockModels" ng-change="getStockItemsForManufacturerAndModel()"></select>
                </td>
            </tr>
        </table>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Series</th>
                <th>Stock Code</th>
                <th>Price (EUR)</th>
                <th>Select</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stock in stockItems">
                <td>
                    {{ stock.stockSeries }}
                </td>
                <td>
                    {{ stock.stockCode }}
                </td>
                <td>
                    {{ stock.pricing }}
                </td>
                <td>
                    <button class="btn" ng-click="getStockForStockId(stock.stockId)">{{stock.stockId}}</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="showLocations">
            <h4>Installation Location</h4>
            <table>
                <tr>
                    <td>
                        Select the installation location :
                    </td>
                    <td>
                        <select ng-model="selectedLocation" ng-options="loc.location for loc in stockInstallLocations" ng-change="setSelectedInstallLocation()"></select>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="showSerial">
            <h4>Available Units</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Status</th>
                    <th>Select</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stockLevel in selectedStockItem.stockLevel">
                    <td>
                        {{ stockLevel.serialNumber }}
                    </td>
                    <td>
                        {{ stockLevel.status }}
                    </td>
                    <td>
                        <button class="btn" ng-click="selectSerialForQuote(stockLevel.serialNumber, stock.stockId)">+</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
