<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  	<display-name>Lift and Shift Stock</display-name>
  	
  	<listener>
        <listener-class>flex.messaging.HttpFlexSession</listener-class>
    </listener>

    <!-- MessageBroker Servlet -->
    <servlet>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
		<init-param>
			<param-name>services.configuration.file</param-name>
			<param-value>/WEB-INF/flex/services-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
    </servlet>
    
  	 <servlet>
		<display-name>TestServlet</display-name>
   		<servlet-name>TestServlet</servlet-name>
   		<servlet-class>za.co.las.stock.servlet.TestServlet</servlet-class>
  	</servlet>
  	<servlet>
		<display-name>DocumentServlet</display-name>
   		<servlet-name>DocumentServlet</servlet-name>
   		<servlet-class>za.co.las.stock.servlet.DocumentServlet</servlet-class>
  	</servlet>
  	<servlet>
		<display-name>LoginServlet</display-name>
   		<servlet-name>LoginServlet</servlet-name>
   		<servlet-class>za.co.las.stock.servlet.LoginServlet</servlet-class>
  	</servlet>
  	<servlet>
		<display-name>UserServlet</display-name>
   		<servlet-name>UserServlet</servlet-name>
   		<servlet-class>za.co.las.stock.servlet.UserServlet</servlet-class>
  	</servlet>
  	<servlet>
		<display-name>StockServlet</display-name>
   		<servlet-name>StockServlet</servlet-name>
   		<servlet-class>za.co.las.stock.servlet.StockServlet</servlet-class>
  	</servlet>
  	<servlet>
		<display-name>AccessoryServlet</display-name>
   		<servlet-name>AccessoryServlet</servlet-name>
   		<servlet-class>za.co.las.stock.servlet.AccessoryServlet</servlet-class>
  	</servlet>
  	<servlet>
		<display-name>QuoteServlet</display-name>
   		<servlet-name>QuoteServlet</servlet-name>
   		<servlet-class>za.co.las.stock.servlet.QuoteServlet</servlet-class>
  	</servlet>
  	<servlet>
		<display-name>ReportServlet</display-name>
   		<servlet-name>ReportServlet</servlet-name>
   		<servlet-class>za.co.las.stock.servlet.ReportServlet</servlet-class>
  	</servlet>
  	<servlet>
		<display-name>UploadServlet</display-name>
   		<servlet-name>UploadServlet</servlet-name>
   		<servlet-class>za.co.las.stock.servlet.UploadServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
    	<servlet-name>UploadServlet</servlet-name>
    	<url-pattern>/upload</url-pattern>
 	</servlet-mapping>
 	<servlet-mapping>
    	<servlet-name>TestServlet</servlet-name>
    	<url-pattern>/test</url-pattern>
 	</servlet-mapping>
 	<servlet-mapping>
    	<servlet-name>DocumentServlet</servlet-name>
    	<url-pattern>/document</url-pattern>
 	</servlet-mapping>
 	<servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/login</url-pattern>
 	</servlet-mapping>
 	<servlet-mapping>
    	<servlet-name>UserServlet</servlet-name>
    	<url-pattern>/user</url-pattern>
 	</servlet-mapping>
 	<servlet-mapping>
    	<servlet-name>StockServlet</servlet-name>
    	<url-pattern>/stock</url-pattern>
 	</servlet-mapping>
 	<servlet-mapping>
    	<servlet-name>AccessoryServlet</servlet-name>
    	<url-pattern>/accessory</url-pattern>
 	</servlet-mapping>
 	<servlet-mapping>
    	<servlet-name>QuoteServlet</servlet-name>
    	<url-pattern>/quote</url-pattern>
 	</servlet-mapping>
 	<servlet-mapping>
    	<servlet-name>ReportServlet</servlet-name>
    	<url-pattern>/report</url-pattern>
 	</servlet-mapping>
 	
 	<servlet-mapping>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<url-pattern>/messagebroker/*</url-pattern>
	</servlet-mapping>
 	
 	
 	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	    <welcome-file>index.htm</welcome-file>
	    <welcome-file>index.jsp</welcome-file>
	    <welcome-file>default.html</welcome-file>
	    <welcome-file>default.htm</welcome-file>
	    <welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
 